.page-header {
    background: #0D47A1;
    padding: 49px 0 20px 10px;
    margin: 0 0 0 0;
    border-bottom: 0px;
}

#topperHeadon > h1 {
    color: #9E9E9E;
}

#topperHeadon > h1 > small {
    color: #EEEEEE;
    font-size: 60%;
}



body {
    background: #1E88E5;
    font-family: 'Raleway', sans-serif;    
}



.jumbotron > h1, p {
    padding-bottom: 20px;
    color: #FAFAFA;
}

.jumbotron {
    margin: 20px 20px 20px 20px;
    background: #64B5F6;
}

@media (max-width: 768px) {
  p {
    font-size: 12px !important;
  }

  .ctrBtn {
    text-align: center
  }
    
}

.container-jumbo {
    padding: 20px 20px 20px 20px;
}









#bottom_text {
    padding-top: 10px;
}
    
#top_text {
    padding-bottom: 10px;
}

